
<div class="card">
    <div class="card-header">
        <h3 class="text-black">Formulario para Insertar Producto</h3>
    </div>
    <div class="card-body">
        <div class="form-group">
            <form action="/FakeApiStore/Create">
                <div class="mb-1">
                    <label for="title" class="form-label text-black">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Escriba el titulo del producto">
                </div>
                <div class="mb-1">
                    <label for="description" class="form-label text-black">Description</label>
                    <input type="text" class="form-control" id="description" placeholder="Escriba la descripción del producto">
                </div>
                <div class="mb-1">
                    <label for="price" class="form-label text-black">Price</label>
                    <input type="number" class="form-control" id="price" placeholder="Escriba el precio">
                </div>
                <div class="mb-1">
                    <label for="img" class="form-label text-black">Imagen</label>
                    <input type="file" class="form-control" id="img">
                </div>
                <div class="mb-1">
                    <label for="category" class="form-label text-black">Category</label>
                    <input type="text" class="form-control" id="category" placeholder="Seleccione la categoria">
                </div>
                <button type="submit" class="btn btn-primary mt-1">Crear</button>
            </form>
        </div>
    </div>
</div>