@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrelloApp</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TrelloApp.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Estilos",required: false)   
</head>
<header>
    <nav>
        <div class="nav-wrapper deep-purple darken-4">
            <div class="d-flex">
                <a href="~/Home/Index" class="breadcrumb" style="padding-left:15px;">Home</a>
                <a href="~/Tableros/Index" class="breadcrumb">Boards</a>
                <a href="~/Tablero/Index" class="breadcrumb">Tablero</a>
            </div>
        </div>
    </nav>
</header>
<body>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
